#spinner {
  position: absolute;
  top: Calc(50% - 50px);
  left: Calc(50% - 50px);
  height: 90px;
  width: 90px;
  border: 30px solid white;
  border-radius: 50%;
  border-top: 30px solid rgb(238, 221, 247);
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  50% {
    border-top: 30px solid #593cfb;
  }
  100% {
    transform: rotate(360deg);
  }
}
