#splash-footer {
  background-color: #f4f4f4;
  border-top: solid 1px #e7e7e8;
  height: 100px;
  width: 100%;
  /* position: relative;
  bottom: 0; */
  /* bottom: 0;
  position: fixed; */
}

#footer-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 190px;
  margin: 0 auto;
  height: 100%;
}

.footer-link {
  color: #4a4a4a;
  text-decoration: none;
}

.footer-link:hover {
  color: #009f77;
}
