nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: white;
  color: rgba(20, 20, 20);
}

#nav-left {
  padding: 15px;
}

#nav-right {
  padding: 15px;
  display: flex;
}

#logo {
  height: 35px;
}

.nav-button {
  background-color: white;
  border: 1px solid #141414;
  padding: 7px;
  margin: 3px;
  transition: 0.25s ease-in-out;
}

.nav-button:hover {
  background-color: rgb(239, 239, 239);
  transition: 0.25s ease-in-out;
}

#profile-button {
  border: 0;
  font-size: 25px;
  width: 75px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
}

#profile-button:focus {
  background-color: rgb(239, 239, 239);
  border: 1px solid #cbc9c9;
}

.profile-dropdown {
  position: absolute;
  top: 70px;
  right: 10px;
  background-color: #fff;
  padding: 7px;
  list-style: none;
  z-index: 9999;
  border-radius: 8px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  font-family: "Mulish", sans-serif;
  width: 200px;
}

/* #trips-drop {
  border-bottom: 1px solid #cbc9c9;
  padding-bottom: 20px;
} */

.hamburger-options {
  /* background-color: pink; */
  border-radius: 7px;
  padding: 12px;
  display: flex;
}

.hamburger-icon {
  margin-right: 8px;
}

.division-line {
  border-bottom: 1px solid #cbc9c9;
  margin-bottom: 12px;
  margin-top: 12px;
}

.hamburger-options:hover {
  background-color: rgb(239, 239, 239);
  transition: 0.25s ease-in-out;
}
